# Environments
venv/
env/
.venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Logs
*.log

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
